/* search */
.search{
    margin: 30px auto 0 auto;
    max-width: 780px; width: 100%;
    background-color: #D9D9D9;
    height: 64px;
    display: flex;
    justify-content: space-between;
    border-radius: 70px;
}
.search-input{
    background-color: transparent;
    background-image: url('../assets/searchicon.png');
    background-position: 24px center;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    font-size: 20px;
    color: #6D6D6D;
    font-weight: 400;
    padding: 14px 0 14px 64px;
    border: none;
    outline: none;
    max-width: 600px;
    width: 100%;
}
.search-filters{
    margin: auto 24px auto 0;
    background-color: transparent;
    background-image: url('../assets/filter.png');
    background-position: center;
    background-size: 24px 21px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-submit{
    margin: auto 3px auto 0;
    align-items: center;
    background-color: #38405F;
    border-radius: 50%;
    background-position: center;
    background-image: url('../assets/searchicon-fff.png');
    background-repeat: no-repeat;
    background-size: 23px 23px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    justify-self: right;
}
/* chooser */
.chooser{
    margin: 32px auto 0 auto;
    max-width: 810px;
}
.chooser-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.chooser-open_btn img{
    margin: auto 0 auto 7px;
    width: 10px;
    height: 7px;
    transition: transform .2s linear;
}
.chooser-open_btn{
    vertical-align: middle;
    display: flex;
    margin-top: 15px;
    float: right;
    width: 100px;
    text-align: center;
    background-color: #38405F;
    border: 1px solid transparent;
    outline: none;
    border-radius: 69px;
    font-size: 15px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    transition: .4s ease;
}
.chooser-open_btn:hover{
    border: 1px solid #fff;
}

.chooser-btn{
    opacity: 0;
    position: fixed;
    width: 0;
}
.chooser-btn-label{
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 32px;
    padding: 16px 0;
    transition: 0.3s ease;
}
.chooser-btn:checked + .chooser-btn-label{
    color: #000;
    background-color: #fff;
}

.chooser-btn-label:nth-child(n+9){
    display: none;
}


/* popular */
.popular,
.best{
    margin-top: 40px;
}
.popular-title,
.best-title{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}
._section-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 20px;

}
._section__new::before{
    content: "New";
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: -10px;
    left: calc(100% - 70px);
    float: right;
    background-color: #1AC836;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 69px;
}

._section__premium{
    border: 2px solid rgba(234, 181, 46, 0.5) !important;
}
._section__premium:hover{
    border-color: rgba(234, 181, 46, 1) !important;
}
._section:hover{
    border-color: rgba(74, 74, 77, 1);
}
._section{
    position: relative;
    width: 280px;
    height: 370px;
    border: 3px solid rgba(74, 74, 77, 0.5);
    border-radius: 16px;
    transition: .3s ease-in-out;
}
._section-img{
    width: 280px;
    height: 150px;
}
._section-wrapper{
    padding: 16px 24px 24px;
}
._section-top{
    display: flex;
    justify-content: space-between;
}
._section-top-title{
    font-size: 28px;
    font-weight: 600;
}
._section-top-status{
    font-weight: 600;
    font-size: 16px;
    padding: 0 12px;
    background-color: #38405F;
    border-radius: 69px;
    line-height: 30px;
    height: 30px;
}
.__status-open{
    background-color: #1AC836;
    color: #000;
}
._section-type::before{
    margin-right: 8px;
    vertical-align:middle;
    content: " ";
    display: inline-block;
    background-position: center;
    background-image: url('../assets/section/type-bg.png');
    background-repeat: no-repeat;
    background-size: 20px 16px;
    width: 20px;
    height: 16px;
}
._section-type{
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
}



._section-type-place-wrap{
    margin-top: 15px;
}
._section-type-place-icon{
    position: absolute;
    width: 19px;
    height: 20px;
}
._section-type-place {
    transition: .2s linear;
    border-radius: 10px ;
    max-height: 70px;
    z-index: 100;
    position: absolute;
}

._section-type-place{
    margin-left: 25px;
}
._section-type-place:hover{
    background-color: #38405F;
    padding: 7px 10px 12px 7px;
    overflow: auto;
}


._section-type-place:hover > ._section-type-place-address{
    display: block;

}

._section-type-place:hover >
._section-type-place-address:first-child::after{
    content: '';
}
._section-type-place-address:hover{
    opacity: 1;
}
._section-type-place::-webkit-scrollbar {
    width: 7px;
}

/* Track */
._section-type-place::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
._section-type-place::-webkit-scrollbar-thumb {
    background: #292B2E;
    border-radius: 15px;

}

/* Handle on hover */
._section-type-place::-webkit-scrollbar-thumb:hover {
    background: #292B2E;
}
._section-type-place-address{
    display: none;
    height: fit-content;
    opacity: .7;
    transition: opacity .2s linear;
}
._section-type-place-address:first-child{
    margin-top: 0;
    display: block;
}
._section-type-place-address:first-child::after{
    content: '▾';
    position: relative;
    top: 2px;
    font-size: 14px;
}

._section-bottom{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
._section-bottom-price{
    line-height: 39px;
    height: 39px;
    padding: 0 14px;
    border-radius: 69px;
    background-color: #38405F;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.4);
}
._section-bottom-price-active{
    color: #fff;
}
._section-bottom-mark{
    line-height: 39px;
    height: 39px;
    font-weight: 600;
    font-size: 27px;
    color: #000;
    padding: 0 17px;
    background-color: #EAB52E;
    border-radius: 69px;


}
